{% extends "distance/layout.html" %}

{% block body %}
    <h1>Distance {{ distance.id }}</h1>

    <ul>
        <li>Date: {{ distance.date }}</li>
        <li>Person: {{ distance.person }}</li>
        <li>Distance: {{ distance.distance }} {{ distance.unit }}</li>
    </ul>
    <button><a href="{% url 'distance_edit' distance_id=distance.id %}">Edit</a></button>
    
    {% if user.is_superuser %}
        <a href="{% url 'distance_edit' distance_id=distance.id %}">Delete</a>
    {% endif %}
{% endblock %}