<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <title>Distance Counter</title>
    </head>
    <body>
        <div class="navbar">
            {% if request.user.is_authenticated %}
                <!--ADD ANY LINKS FOR AN AUTHENTICATED USER: LOG DISTANCE, LEADERBOARDS, STATS-->
                <div style="color: orange; margin: 10px">Currently logged in as: {{ request.user.username | title }}</div>
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'log' %}">Record Distance</a>
                <a href="{% url 'index' %}">View all Distances</a>
                {% if user.is_superuser %}
                    <a href="{% url 'admin:index' %}">Admin</a>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {% if message.tags %} alert-{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block body %}
        {% endblock %}
    </body>
</html>